# MongoDB Database Connection String (MongoDB Atlas or Local MongoDB)
# Example Cloud Atlas: mongodb+srv://username:password@cluster0.mongodb.net/codetestpro?retryWrites=true&w=majority
# Example Local: mongodb://localhost:27017/codetestpro
DATABASE_URL="mongodb+srv://username:password@cluster0.mongodb.net/codetestpro?retryWrites=true&w=majority"

# JWT Secret Configuration
JWT_SECRET="codetest_super_secret_jwt_key_2026"
JWT_EXPIRES_IN="7d"

# Server Configuration
PORT=5000
NODE_ENV="development"
